@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,700;1,400&display=swap');

* {
    font-family: 'Public Sans', sans-serif;
}

body {
    background-image: linear-gradient(to right top, #5e74c2, #0099dc, #00b6c5, #00cb8b, #a9d44f);
    background-attachment: fixed;
}

.header-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0 50px 0 0;
    overflow: hidden;
    /*background-color: #333;*/
}

.header-navbar li {
    margin-top: 30px;
    float: right;
}

.header-navbar li a {
    text-shadow: 2px 2px rgba(51, 51, 51, 0.06);
    font-weight: bold;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.header-navbar li a:hover {
    /*background-color: #111;*/
    border-bottom: 3px solid rgba(255, 255, 255, 0.59);
}

.ingredients-hide {
    display: none;
}

.ingredients-show {
    z-index: 100;
    padding: 0px;
    display: block;
}

.a {
    position: fixed;
    margin-top: 30px;
}

.center-img {
    z-index: -10000;
    text-align: center;
}

.chef-logo {
    margin: 0 auto;
    width: 50%;
}
.error-logo{
    margin: 130px auto 0 auto;
    width: 45%;
}
.error-text{
    margin-top: 50px;
    font-weight: bold;
    color: white;
}
.form-container {
    margin-top: 120px;
}

.add-ingredient-backround {
    padding: 50px;
    width: 230px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.14);
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.27);

}

.add-ingredient {
    padding: 20px;
    width: 30%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.14);
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.27);
}

.add-ingredient h3 {
    color: #1a3a3a
}

.order-container {
    padding: 10px 10px 50px 10px;
    /*width: 80%;*/
    /*margin: 2em auto;*/
    /*background-color: rgba(255, 255, 255, 0.14);*/
    text-align: left;
    /*box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.27);*/
}

.label-text {
    font-size: 20px;
    color: white;
}

.label-input {
    padding: 2px 2px 2px 10px;
    border-bottom: 2px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    height: 30px;
    margin-bottom: 10px;
    background-color: transparent;
    outline: none;
}
.label-input:focus{
    background-color: rgba(51, 51, 51, 0.13);
}

.select-dropdown {
    /*border: 1px solid black;*/
    /*border-radius: 5px;*/
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 5px;
    height: 30px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.submit-button {
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.16);
    font-size: 17px;
}

.submit-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
}

.piece-input {
    width: 100px;
    padding: 2px 2px 2px 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
}

.add-user-backround {
    padding: 50px;
    width: 450px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.14);
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.27);

}

.add-user-backround input{
    width: 100%;
}

.add-button {
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.16);
    font-size: 17px;
}

.add-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
}

ul {
    list-style: none;
}

.order-button {
    float: right;
}

button a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.page-title {
    text-align: center;
}

#logo-left{
    float: left;
}
#left-logo-text{
    float: left;
    margin-left: 35px;
}
#left-logo-text a{
    font-size: 30px;
}

.main-logo {
    margin-left: 50%;
    text-align: center;
    padding: 14px 16px;
    margin-top: -25px;
    width: 150px;
    float: left;
    margin-bottom: 10px;

}
@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}
@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 100%;
        transform: translateX(0);
    }
}
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
.animation-show {
    animation: 0.8s ease-out 0s 1 show;
}
.animation-top {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 0.8s ease-out 0s 1 slideInFromTop;
}
.animation-left {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

option {
    background-color: darkslategray;
}

.user-login{
    padding: 50px;
    width: 450px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.14);
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.27);
}
.user-login input{
    font-size: 17px;
    color: white;
    width: 80%;
    text-align: center;
}
.loading-box {
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    margin-top: calc(15%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ig {
    color: #757575;
    transform: scale(2);
    transform-origin: 0 0;
    background-color: transparent;}

.storage-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.storage-table {
    width: 50%;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.27);
}

.storage-table thead {
    background-color: #83bfbe;
}
.storage-table td, th {
    color: #1a3a3a;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.storage-table tr:nth-child(even) {
    background-color: #83bfbe;
}