body{
  background-image: linear-gradient(to right top, #5e74c2, #0099dc, #00b6c5, #00cb8b, #a9d44f);
  background-attachment: fixed;
}

.header-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0 50px 0 0;
  overflow: hidden;
  background-color: #333;
}

.header-navbar li {
  float: right;
}

.header-navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header-navbar li a:hover {
  background-color: #111;
}

.ingrediments-hide{
  display: none;
}

.ingrediments-show{
  z-index: 100;
  padding: 0px;
  display: block;
}
.a{
  position: fixed;
  margin-top: 30px;
}