.collapsible{

    width: 60%;
    margin: 2em auto;
    background-color: rgba(255, 255, 255, 0.14);
    text-align: right;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.27);
}
.collapsible-header{
    height: 45px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.59);
}
.user-name{
    font-weight: bold;
    margin-left: 50px;
    float: left;
    font-size: 18px;
    display: block;
}
.order-time{
    margin-top: 15px;
    font-size: 16px;
    margin-right: 80px;
}
.toggle{
    font-weight: bold;
    padding: 12px;
    margin-top: 3px;
    margin-right: 3px;
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
}
table{
    border-collapse: collapse;
    width: 100%;
}

td, th {
    /*border: 3px solid rgba(255, 255, 255, 0.59);*/
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.11);
}
